<ng-container *ngIf="info$ | async as info">
    <div class="grid" style="justify-content: center; align-items: center;">
        <ng-container *ngIf="info.usuario">
            <div class="col-12">
                <h3 class="text-center">Detalhes do Usuário</h3>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="nome">Nome
                        <ng-container *ngIf="info.usuario.admin">
                            <strong> - ADMIN </strong>
                        </ng-container>
                    </label>
                    <input type="text" class="form-control" id="nome" [value]="info.usuario.nome" disabled>

                </div>
            </div>

            <div class="col-12">
                <div class="form-group">
                    <label for="email">E-mail </label>
                    <input type="text" class="form-control" id="email" [value]="info.usuario.email" disabled>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="info.alteracoes">
            <ng-container *ngIf="info.alteracoes.length; else vazio">
                <div class="col-12">
                    <h3 class="text-center">Alterações realizadas no último login: </h3>
                </div>
                <div class="grid col-12">
                    <table class="table table-striped col-12">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Alteração</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of info.alteracoes">
                                <td><div>{{ item.id }}</div></td>
                                <td><div>{{ item.alteracao }}</div></td>
                                <td><div>{{ item.data | date: 'dd/MM/yyyy' }}</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-container>

<ng-template #vazio>
    <h3>Nenhuma alteração realizada no último login</h3>
</ng-template>