<ng-container *ngIf="usuario">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 10px;">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Detalhes do Usuário</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="nome">Nome
                        <ng-container *ngIf="usuario.admin">
                            <strong> - ADMIN</strong>
                        </ng-container>
                    </label>
                    <input type="text" class="form-control" id="nome" [value]="usuario.nome" disabled>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" id="email" [value]="usuario.email" disabled>
                </div>
            </div>
        </div>

        <ng-container *ngIf="alteracoes">
            <ng-container *ngIf="alteracoes.length; else vazio">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-center">Alterações realizadas no último login: </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Alteração</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of alteracoes">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.alteracao }}</td>
                                    <td>{{ item.data | date: 'dd/MM/yyyy' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-container>

<ng-template #vazio>
    <h3>Nenhuma alteração realizada no último login</h3>
</ng-template>