<div class="topbar">
    <!-- <div class="mobile"></div> -->
    <div class="topbar-left">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
                alt="Angular logo" width="50px" height="50px">
            <h1>Declang</h1>
        </div>

    </div>
    <div class="topbar-right">
        <a href="/declarative">Declarative</a>
        <a href="/imperative">Imperative</a>
        <a href="/about">About</a>
        <a href="/github">GitHub</a>
    </div>
</div>